{% extends 'base.html' %}

{% block content %}
<h1>{{ profile_user.username }}'s Profile </h1>
<h3>Add a New Post</h3>
    <form method="POST" enctype="multipart/form-data" action="{% url 'add_post' %}">
        {% csrf_token %}
        <input type="file" name="image" required><br>
        <textarea name="caption" placeholder="Write a caption..." required></textarea><br>
        <button type="submit">Post</button>
    </form>
<hr>
<h2>Your Posts &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

<a href="{% url 'feed' %}">{{ profile_user.username }}'s Feed</a></h2>
{% if posts %}
    <ul>
    {% for post in posts %}
        <img src="{{ post.image.url }}" alt="Post Image" width="300px">
    <p><strong>{{ post.user.username }}</strong>: {{ post.caption }}</p>
    
    <!-- Like button -->
    <form action="{% url 'like_post' post.id %}" method="POST">
      {% csrf_token %}
      <button type="submit">
        ❤️ {{ post.total_likes }}
      </button>
    </form>

    <!-- Comments -->
    <div class="comments">
      {% for comment in post.comments.all %}
        <p><strong>{{ comment.user.username }}</strong>: {{ comment.content }}</p>
      {% endfor %}
    </div>

    <!-- Add Comment -->
    <form action="{% url 'comment_post' post.id %}" method="POST">
      {% csrf_token %}
      <input type="text" name="content" placeholder="Add a comment..." required>
      <button type="submit">Post</button>
    </form>
  </div><br>
    {% endfor %}
    </ul>
{% else %}
        <p>You haven't posted anything yet.</p>
{% endif %}

{% endblock %}
